<!DOCTYPE html>
<html>
<%= render 'head' %>
<body>
<div class="page-content">
  <div class="row">
    <%= render 'options_list' %>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-6">
          <div class="content-box-large">
            <div class="panel-heading">
              <div class="panel-title">标签１</div>
              <div class="panel-options">
                <a href="#" data-rel="collapse">
                  <i class="glyphicon glyphicon-refresh"></i>
                </a>
                <a href="#" data-rel="reload">
                  <i class="glyphicon glyphicon-cog"></i>
                </a>
              </div>
            </div>
            <div class="panel-body"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 panel-warning">
          <div class="content-box-large box-with-header"></div>
        </div>
      </div>
      <div class="content-box-large"></div>
    </div>
  </div>
</div>
<%= render 'footer' %>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="https://code.jquery.com/jquery.js"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
</body>
</html>
